.cover__text-block {
  width: 560px;
  height: 250px;
  position: absolute;
  top: calc((100% - 250px)/2);
  left: calc((100% - 560px)/2);
  z-index: 3;
}

.cover__text-block:hover {
  opacity: 0.8;
}

/* точка 600px определена произвольно как 560px (ширина блока) + отступ в 20px с каждой стороны. */
@media screen and (max-width: 600px) {
  .cover__text-block {
    width: 288px;
    height: 134px;
    top: calc((100% - 134px)/2);
    left: calc((100% - 288px)/2);
  }
}