.photo-grid {
  max-width: 1184px;
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px 16px;
}

@media screen and (max-width:1280px) {
  .photo-grid {
    margin: 92px 48px 0;
  }
}

/* точка 1048px определена произвольно исходя из фактического поведения страницы при изменении разрешения страницы */
@media screen and (max-width:1048px) {
  .photo-grid {
    gap: 14px 14px;
  }
}

@media screen and (max-width:800px) {
  .photo-grid {
    gap: 16px 16px;
    margin: 88px 24px 0;
  }
}

/* точка 1048px определена исходя из соответствия боковых отступов блока places */
@media screen and (max-width:718px) {
  .photo-grid {
    margin: 88px 16px 0;
  }
}

@media screen and (max-width: 414px) {
  .photo-grid {
    gap: 12px 12px;
    margin: 64px 16px 0;
  }
}