/* 
Исходя из макета, программируем следующее поведение блока: 
- в интервале 320-800px блок занимает 100% ширины родителя;
- в интервале 800-1080px блок имеет фиксированные боковые отступы в 48px. Ширина контента расчитывается автоматически;
- в интервале 1080px и более блок имеет фиксированную ширину в 984px. Отступы расчитываются автоматически. Также в этой точке
  верхний отступ увеличивается до 56px.
Точка перелома 1080 выбрана как 984px + 48px + 48px, т.е момент, когда при дальнейшем расширении контент перестаёт растягиваться,
а отступы наоборот начинают пропорционально увеличиваться.
*/

.lead {
  max-width: 984px;
  margin: 48px 48px 0;
}

@media screen and (min-width:1080px) {
  .lead {
    margin: 56px auto 0;
  }
}

@media screen and (max-width:800px) {
  .lead {
    margin: 48px 0 0;
  }
}