.cover__subtitle {
  max-width: 360px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
  padding: 0;
  /* z-index: 3; */
}

@media screen and (max-width: 800px) {
  .cover__subtitle {
    margin: 12px auto 0;  /* на макете верхний отступ от блока cover__subtitle составляет 12px. Он увеличивается до 32px на ширине экрана 1024 / 1280рx */
  }
}

/* точка 600px определена из соответствия точки перехода блока cover__title */
@media screen and (max-width: 600px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 16px auto 0;
    font-size: 14px;
    line-height: 16px;
  }
}

/* @media screen and (max-width: 414px) {
  .cover__subtitle {
    box-sizing: border-box;
    padding: 0 10px;
  }
} */