/* 
Исходя из макета, программируем следующее поведение блока: 
- в интервале 320-752px блок имеет фиксированные боковые отступы по 16px. Ширина контента расчитывается автоматически. Нижний отступ также равен 16px;
- в интервале 752px и более блок имеет фиксированную ширину в 720px. Размер боковых отступов расчитывается автоматически. Нижний отступ увеличивается до 32px; Шрифт увеличивается.
Точка перелома 752px выбрана как 720px + 16px + 16px, т.е момент, когда при дальнейшем расширении контент перестаёт растягиваться,
а отступы наоборот начинают пропорционально увеличиваться.
*/

.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  padding: 0;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width:752px) {
  .lead__title {
    margin: 0 16px 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}