.intro {
  max-width: 690px;
  margin: 92px auto 0 48px;
  align-content: center;
}

@media screen and (min-width:1080px) {
  .intro {
    width: auto;
    margin: 92px auto 0 calc((100% - 984px)/2);
  }
}
/* calc((100% - 984px)/2) определена исходя из макета. Для указанных разрешений блок имеет произвольный правый внешний отступ
и фиксированный левый, совпадающий с левым отступом блока lead. Т.к в заданном разрешении блок lead имеет фиксированную ширину
в 984px, а его боковые отступы равны и расчитываются автоматически, используем calc((100% - 984px)/2) для определения
ращмера одного отступа */

/* точка 786px определена как 690px + 48px + 48px. В диапазоне 769px - 1080px блок имеет фиксированную ширину в 690px.
Левый отступ также фиксирован - 48px - а правый имеет произвольную длину и сокращается по мере умньшения разрешения экрана.
В точке 768px блок имеет ширину в 690px и равные боковые отступы в 48px. При дальнейшем уменьшении разрешения экрана 
ширина блока становится произвольной, а боковые отступы равными 24px */
@media screen and (max-width:786px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

/* точка 540px определена произвольно исходя из фактического поведения страницы при изменении разрешения страницы */
@media screen and (max-width:540px) {
  .intro {
    margin: 64px 16px 0;
  }
}