/* 
Исходя из макета, программируем следующее поведение блока: 
- в интервале 320-672px блок имеет фиксированные боковые отступы по 16px. Ширина контента расчитывается автоматически. Нижний отступ также равен 40px;
- в интервале 672-752px блок имеет фиксированную ширину контента в 640px. Ширина боковых отступов расчитывается автоматически. Нижний отступ также равен 40px; Шрифт на данном этапе остаётся прежним, чтобы не менять пропорции со шрифтом заголовка.
- в интервале 752px и более параметры остаются теми же, но шрифт увеличивается.
Точка перелома 672px выбрана как 640px + 16px + 16px, т.е момент, когда при дальнейшем расширении контент перестаёт растягиваться,
а отступы наоборот начинают пропорционально увеличиваться.
Точка перелома 752px выбрана из условий привязки к размеру шрифта заголовка.
*/

.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 56px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width:752px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (max-width:672px) {
  .lead__subtitle {
    margin: 0 16px 40px;
  }
}