.cover {
  max-width: 100%;
  /* min-height: 200px; */
  margin: 92px 0 0;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cover::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1025px) {
  .cover {
    margin: 92px calc((100% - 1024px)/2) 0;
    max-width: 1024px;
  }
}

/* точка 1120px определена как 1024px + 48px + 48px. 
От самых больших разрешений и до разрешения в 1120px блок будет иметь фиксированные боковые отступы в 48px.
В диапазоне 1024px-1120px блок будет иметь фиксированную ширину в 1024px, а боковые отступы будут уменьшаться до нуля.
При разрешениях в 1024px и ниже боковые отступы будут нулевыми. */
@media screen and (min-width: 1120px) {
  .cover {
    margin: 92px 48px 0;
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 800px) {
  .cover {
    margin: 90px 0 0;
  }
}

@media screen and (max-width: 414px) {
  .cover {
    margin: 66px 0 0;
  }
}