.cover__background {
  width: 100%;
  max-height: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
  opacity: 0.8;
}

.cover__background:hover {
  opacity: 0.3;
}