.cover__title {
  position: relative;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 3;
}

/* точка 800px определена в соответствии с пороговым значением блока cover__subtitle, т.к там он меняет величину отступа */
@media screen and (max-width: 800px) {
  .cover__title {
    margin-top: 20px; /*  */
  }
}

/* точка 600px определена произвольно как 560px (ширина блока) + отступ в 20px с каждой стороны. */
@media screen and (max-width: 600px) {
  .cover__title {
    max-width: 288px;
    margin-top: 0;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 414px) {
  .cover__title {
    box-sizing: border-box;
    padding: 0 20px;
  }
}