.cover__title {
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 3;
}

/* точка 600px определена произвольно как 560px (ширина блока) + отступ в 20px с каждой стороны. */
@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: auto auto 0;
  }
}